body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif, -apple-system;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #A0B0E0;
  text-align: left;
  background-color: #000050; }